body{
    background-color: #EFECCA;
    font-family: Helvetica,Arial, sans-serif;
}

h1{
    color: #c03000;
}

h2{
    color: #4bb5c1;
}

ul{
    list-style-type: none;
    text-decoration: none;
}

nav ul>li{
    display: inline;
}

nav li a{
    padding: 10px;
    border: solid 2px;
    border-color: #660000;
    background-color: #c03000
    

}
nav li a:hover {
    background-color: #009900;
}
li a:focus{
    background-color: #009900;
}

li a, li a:hover, li a:active, li a:visited{
    color: white;

}

a{
    text-decoration: none;
}

footer a:visited{
    color: red;
}